<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>edit warranty claim</title>
<div th:replace = "fragments :: include"></div>
<style>
	.btn btn-primary{
		width:315px;
	}
	
	button.btn.btn-primary{
		width:315px;	
	}
	.h2, h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    bottom: 25px;
}
</style>



</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<br>
	<div class="container column" style="width:30%;">
		<form  th:object="${claim}" method=POST action='' class="col card p-5 mb-4">
		<h2 >Edit Claims Form</h2>
		
			<div class="form-group">
				<label th:for="claim_date">date</label>
				<input type="date" th:field="*{claim_date}" required class="form-control"/>
				<span th:errors="*{claim_date}"></span>
			</div>
			<div class="form-group">
				<label th:for="remarks">remarks</label>
				<textarea th:field="*{remarks}" class="form-control"></textarea>
				<span th:errors="*{remarks}"></span>
			<div class="form-group">
			<br>
			<input type="submit" class="btn btn-primary" value="Edit">
			<br><br>
			<h3  class="btn btn-primary" ><a href='/claims/'><button type="button"  class="btn btn-primary">Back</button></a></h3>
		</form>
	</div>
	<h3><a href="delete">CLICK HERE TO DELETE IT</a></h3>
</body>
</html>