<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>all transactions</title>
<div th:replace = "fragments :: include"></div>
<style>
a.btn.btn-primary.btn-small.navbar-btn{
	position:relative;
	left:1375px;
	bottom:25px;
}
.h1, h1 {
    font-size: 2.5rem;
    text-align: center;
}
</style>

</head>
<body>
	<nav th:replace="fragments :: navbar"></nav>
	<br>
<h1>TRANSACTIONS</h1>
<br>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Amount</th>
				<th>Comment</th>
				<th>More</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="t : ${trans}">
				<td th:text="${t.id}"></td>
				<td th:text="${t.date}"></td>
				<td th:text="${t.amount}"></td>
				<td th:text="${t.comments}"></td>
				<td>
					<a th:href="'/transactions/' + ${t.id}">more</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>