<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8"/>
<title>Attendance</title>

</head>
<body style="text-align:center;">
<nav th:replace="fragments :: navbar"></nav>
	<h3 th:text="${emp.name}"></h3>
	<h5 th:text="${emp.id}"></h5>
	
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>date</th>
				<th>status</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="a : ${emp.attendance}">
				<td th:text="${a.date}"></td>
				<td th:text="${a.status}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>